<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
{% load compress %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="'stylesheet">
    {% compress css %}
    <link rel="stylesheet" href="{% sass_src 'scss/main.scss' %}">
    {% endcompress %}
    <title>Slimes Journey</title>
</head>
<header> 
    <nav>
        <h1>Slimes Journey</h1>
    </nav>
</header>
<body>
    {% block content %}{% endblock content%}
</body>
</html>